{% extends "base.html" %} {% block title %} HOME PAGE {% endblock %} {% block
content %}

<header>
  <h1>歡迎光臨，請輸入信箱密碼</h1>
</header>
<main class="container flex">
  <div class="mb-50">
    <h2>登入系統</h2>
    <form
      action="/login"
      class="flex"
      method="post"
      onsubmit="return validateForm(event)"
    >
      <label for="email">
        信箱
        <input class="m-5" type="email" id="email" name="email" />
      </label>
      <label for="password">
        密碼
        <input type="password" id="password" name="password" />
      </label>
      <label for="agree">
        同意條款
        <input type="checkbox" id="agree" name="agree" />
      </label>
      <button type="submit" class="btn">登入</button>
    </form>
  </div>
  <div class="line"></div>
  <div class="mt-50">
    <h2>取得旅館資訊</h2>
    <form id="hotel-form" class="flex">
      <label for="hotel">
        編號
        <input
          type="text"
          id="hotel"
          name="hotel"
          placeholder="請輸入旅館編號"
        />
      </label>
      <button type="submit" class="btn">取得</button>
    </form>
  </div>
</main>

{% endblock %}
