@use "mixin" as *;

// FLEX BOX
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

// GRID
.promotion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  img {
    width: 80px;
    height: 50px;
  }
}
.promotion-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "promotion1" "promotion2" "promotion3";
  @include pad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-template-areas:
      "promotion1 promotion1 promotion2 promotion2"
      "promotion3 promotion3 promotion3 promotion3";
  }
  @include desktop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    grid-template-areas:
      "promotion1 promotion1"
      "promotion2 promotion3";
  }
}
.grid-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title1" "title2" "title3" "title4" "title5" "title6" "title7" "title8" "title9" "title10";

  @include pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    grid-template-areas:
      "title1 title2 title3 title4"
      "title5 title6 title7 title8"
      "title9 title9 title10 title10";
  }
  @include desktop {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "title1  title2 title3 title4 title5" "title6 title7 title8 title9 title10";
    column-gap: 20px;
  }
  .grid-item {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.6s ease forwards;
  }
  .grid-item:nth-child(1) {
    animation-delay: 0.05s;
  }
  .grid-item:nth-child(2) {
    animation-delay: 0.1s;
  }
  .grid-item:nth-child(3) {
    animation-delay: 0.15s;
  }
  .grid-item:nth-child(4) {
    animation-delay: 0.2s;
  }
  .grid-item:nth-child(5) {
    animation-delay: 0.25s;
  }
  .grid-item:nth-child(6) {
    animation-delay: 0.3s;
  }
  .grid-item:nth-child(7) {
    animation-delay: 0.35s;
  }
  .grid-item:nth-child(8) {
    animation-delay: 0.4s;
  }
  .grid-item:nth-child(9) {
    animation-delay: 0.45s;
  }
  .grid-item:nth-child(10) {
    animation-delay: 0.5s;
  }
}
.promotion1 {
  grid-area: promotion1;
}
.promotion2 {
  grid-area: promotion2;
}
.promotion3 {
  grid-area: promotion3;
}
.title1 {
  grid-area: title1;
}
.title2 {
  grid-area: title2;
}
.title3 {
  grid-area: title3;
}
.title4 {
  grid-area: title4;
}
.title5 {
  grid-area: title5;
}
.title6 {
  grid-area: title6;
}
.title7 {
  grid-area: title7;
}
.title8 {
  grid-area: title8;
}
.title9 {
  grid-area: title9;
}
.title10 {
  grid-area: title10;
}

.grid-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include pad {
    grid-column: 1 / -1; // 橫跨整個 grid
    grid-template-columns: repeat(4, 1fr);
  }

  @include desktop {
    grid-column: 1 / -1; // 橫跨整個 grid
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-item {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      display: block;
    }
  }
}
// Grid-item 淡入動畫
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// POSITION & ABSOLUTE
.relative {
  position: relative;
}
.absolute-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  text-align: center;
  padding: 5px;
}
.absolute-star {
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
// WIDTH
.w-full {
  width: 100%;
}
.w-80 {
  width: 80px;
}
// HEIGHT
.h-250 {
  height: 250px;
}

// MARGIN
.mt-20 {
  margin-top: 20px;
}

// PADDING
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.pl-10 {
  padding-left: 10px;
}

// TEXT ALIGN
.text-center {
  text-align: center;
}

// BACKGROUND
.bg-banner {
  background-color: #ddeef8;
}
.bg-primary {
  background-color: #ccdde8;
}
.bg-opacity {
  background: rgba(255, 255, 255, 0.5);
}
