body {
    font-family: sans-serif;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 24px;
    margin-bottom: 1rem;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #bbb;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
}