@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC";
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin-top: 30px;
    font-size: 1.5em;
}

strong {
    color: #cc0000;
    font-weight: bold;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: 100%;
  object-fit: cover;
}

.demo-container {
    max-width: 800px; 
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f8f8; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

code {
    background-color: #eee;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: 'Consolas', 'Courier New', monospace; 
    color: #c7254e;
}

/* 程式碼區塊 (顯示多行程式碼) */
pre {
    background-color: #333;
    color: #f1f1f1;
    padding: 15px;
    border-radius: 6px;
    overflow-x: auto;
    font-family: 'Consolas', 'Courier New', monospace;
    margin-top: 15px;
}

pre code {
    background-color: transparent;
    color: inherit;
    padding: 0;
}
